
<%= form_for :properties, url: properties_show_path do |f| %>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <!--<p>
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true %>
  </p>-->
<!--<p>
<p>
<i class="fa fa-home"></i>
 <%= label_tag(:property_type, "Tipo de Propiedad") %>
 </p>
  <%= f.select :property_type, options_for_select([["Casa", "c"], ["Departamento", "d"],["Cuarto", "cu"]]) %>
</p>-->
  
<div class="row">  	
<div class="col-sm-3"></div>
<div class="col-sm-3">
<p>
<%= f.check_box :elevator %>
<%= label_tag(:elevator, "Elevador") %>
</p>
<p>
<%= f.check_box :ground_floor %>
<%= label_tag(:ground_floor, "Planta Baja") %>
</p>
<p>
<%= f.check_box :pets_allowed %>
<%= label_tag(:pets_allowed, "Mascotas Permitidas") %>
</p>
<p>
<%= f.check_box :furnished %>
<%= label_tag(:furnished, "Amueblado") %>
</p>
<p>
<%= f.check_box :cleaning_service %>
<%= label_tag(:cleaning_service, "Servicio de limpieza") %>
</p>

</div>
<div class="col-sm-3">

<p>
<%= f.check_box :female_roomies %>
<%= label_tag(:female_roomies, "Roomies Mujeres") %>
</p>
<p>
<%= f.check_box :male_roomies %>
<%= label_tag(:male_roomies, "Roomies Hombres") %>
</p>
<p>
<%= f.check_box :gym %>
<%= label_tag(:gym, "Gimnsaio") %>
</p>
<p>
<%= f.check_box :smoking_is_allowed %>
<%= label_tag(:smoking_is_allowed, "Fumar") %>
</p>


</div>
</div>
<div class="col-sm-3"></div>

<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-3">

 <p>
 <%= f.submit("Buscar") %>
</p>
</div>
<div class="col-sm-6"></div>
</div>

<!--<p>
<label for="llegar al ITAM">¿Cómo planeas llegar al ITAM?</label>
</p>
<p>
<i class="fa fa-male"></i>
<%= f.check_box :very_close %>
</p>
<p>
<i class="fa fa-bicycle"></i>
<%= f.check_box :near %>
</p>
<p>
<i class="fa fa-car "></i>
<label for="or">or</label>
<i class="fa fa-motorcycle "></i>
<%= f.check_box :far %>

</p>-->

<p>
<h1><%= label_tag("Propiedades para ti")%></h1>

 <% if @property!= nil%>
</p>
<table>
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Casa</th>
      <th>Dirección</th>
      <th>Descripción</th>
      <th>Precio/mes</th>
      <th>Disponible</th>
   

    </tr>
    
  </thead>
   <font color="red">
  <%= @pro %> 
  </font> 

  <tbody>
    <% @property.each do |property| %>
      <tr>
        <td><%= image_tag property.image.url(:thumb) %></td>
        <td><%= property.name %></td>
        <td><%= property.address %></td>
        <td><%= property.description %></td>
        <td><%= property.price %></td>
        <td><%= property.available %></td>
    

	<td><%= link_to "More info", properties_information_path(:id => property.id)%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>

  <% end %>
